.form-container {
    background-color: rgba(194, 102, 57, 0.63);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 50%; /* Adjust based on your layout */
    margin: auto;
    margin-top: 5vh;
}

.form-input, .form-select, .form-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-select {
    cursor: pointer;
}

.form-textarea {
    height: 100px; /* Adjust height as needed */
}

.form-button {
    background-color: #f0a500; /* Example color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.form-button:hover {
    background-color: #e69500;
}
.post-title{
    font-size: 40px;
    font-weight: bold;
    color: #935218;
    text-align: center;
    margin-top: 8vh;
}
