/* items.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Ensure the root element also takes full height */
:root {
    height: 100%;
}

/* Make sure the main container takes full height */
.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --primary-color: #935218; /* Brown color, adjust as needed */
    --text-color: #333;
    --background-color: #efd3b6;
    --accent-color: #4CAF50; /* Green for available items */
    --error-color: #FF5722; /* Red for sold or claimed items */
}

/* items.css */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center horizontally and keep margin top and bottom */
    padding: 10px;
    background-color: #efd3b6;
    border-radius: px;
    width: 50%; /* Adjust this value to control the width */
}

.search-box input[type="text"] {
    flex-grow: 1; /* Adjust or remove this if necessary */
    padding: 8px 15px;
    font-size: 25px;
    border: 2px solid var(--primary-color);
    border-right: none; /* Remove right border to merge with button */
    border-radius: 8px 0 0 8px;
    outline: none;
    color: var(--text-color);
    background-color: whitesmoke;
    max-width: 100%; /* Ensure it does not overflow the parent container */
}

.search-box button {
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    color: white;
    border-left: none; /* Remove left border to merge with input */
    background-color: #a66e3b;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-box button:hover {
    background-color: #eeae72;
}


.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 40px; /* Increased gap for better spacing */
    padding: 80px; /* Padding around the grid */
    justify-content: center;
    background-color: var(--background-color);
}

.link-style {
    text-decoration: none;
    color: var(--text-color); /* Ensures text color is consistent */
}

.item-box {
    display: flex;
    flex-direction: column;
    background: whitesmoke; /* Light background for the item box */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensures nothing spills out */
    transition: transform 0.3s ease; /* Smooth transform on hover */
}

.item-box:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
}

.item-image-box {
    width: 100%;
    height: auto; /* Adjust height automatically */
    display: flex;
    justify-content: center; /* Center the image */
    align-items: center;
    overflow: hidden; /* Hide overflow */
}

.item-image-box img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container fully */
}

.item-info {
    padding: 10px; /* Padding inside the item info box */
    display: flex;
    flex-direction: column; /* Stack info vertically */
    justify-content: space-between; /* Space between price and details */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-info-left, .item-price {
    padding: 5px 10px; /* Padding for text elements */
}

.item-name, .item-status, .item-price {
    font-size: 25px; /* Adjusted for better readability */
    margin: 5px 0; /* Margin for spacing */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Padding around the content */
    background-color: var(--background-color);
    color: #935218;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}


.watchlist-button {
    background: none;
    border: none;
    padding: 0;
}

.watchlist-button:hover {
    cursor: pointer;
}
#deleteButton .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #6a2602;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

#deleteButton:hover .tooltip {
    visibility: visible;
    opacity: 0.6;
}

.tooltip {
    font-size: 20px; /* Adjust the size as needed */
}
