.logout-box{
    width: fit-content;
    position: fixed;
    right: 0;
}
.SignOut{
    padding: 10px;
    background-color: #803D3B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
.SignOut:hover {
    background-color: #E57C73;
}