.profile-content {
  width: 50vw;
  height: 60vh;
  padding: 8%;
  box-sizing: border-box;
  background-color: #E8E8E8;
  border-radius: 25px;
  margin-left: 20%;
  margin-top: 10%;
  position: relative;
}

/* Apply common styles to all sections */
.profile-section {
  margin-bottom: 10%;
  font-size: 40px;
  text-align: left;
}
.profile-name{
  position: absolute;
  top: -25%;
  font-size: 70px;
  font-weight: bold;
}
