.profile-content {
  width: 50vw;
  height: 60vh;
  padding: 8%;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-radius: 25px;
  margin-left: 20%;
  margin-top: 10%;
  position: relative;
}

.profile-header {
  display: flex;
  align-items: center; /* Aligns the icon and the text vertically */
  font-size: 24px; /* Adjust based on your design */
  color: #935218;
}

.bear-icon {
  height: 15em; /* Sets the height relative to the font size of the container */
  width: auto; /* Maintains the aspect ratio of the image */
  margin-right: 10px; /* Adds space between the icon and the title */
}

/* Apply common styles to all sections */
.profile-section {
  margin-bottom: 10%;
  font-size: 40px;
  text-align: left;
}
.profile-name{
  position: absolute;
  color: #935218;
  top: -25%;
  font-size: 70px;
  font-weight: bold;
}
.profile-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-button {
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 18px;
  color: #fff;
  background-color: #935218;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #7a4315;
}