#post-button {
    display: block;
    padding: 8px 16px;
    margin: 10px auto; /* Center the button horizontally */
    background-color: #efd3b6; /* Example color, adjust as needed */
    color: #a66e3b;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px; /* Adjust for desired roundness */
    font-weight: bold; /* Optional: makes the text bold */
    width: 80%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }

  #post-button:hover {
    color: #a66e3b;
    background-color: #eeae72; /* Darker shade for hover effect */
  }

  #post-button a {
    color: #a66e3b; /* Ensures this color is applied */
    text-decoration: none; /* Optional: Removes underline */
  }

